@import '../node_modules/h8k-design/dist/index.css';

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.child-main {
  height: 100%;
  width: 50%;
  float: left;
}

.Nav-text {
  font-family: 'Arima', cursive;
}

#navigation button {
  margin-right: 1rem;

  margin-top: 1.5rem;
  padding: 0.5rem;

  background-color: #386bc0;

  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;

  box-shadow: none;

  width: 10%;
  min-width: 30px;
  align-self: center;
}

#navigation button:active {
  background-color: #3b71ca;
}

#navigation button:hover {
  box-shadow: #386bc0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  background-color: white;

  height: 60vh;
  width: 750px;
  
  border: black 3px solid;
  border-radius: 10px;

  display: flex;
  justify-content: left;
  align-items: center;
}

.parent h1, p {
  margin: 0;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  color: black;
}

/* .parent img {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
} */

/* .float-child {
  height: 100%;
  width: 50%;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
} */

.btn-generate {
  margin-right: 1rem;

  margin-top: 1.5rem;
  padding: 0.5rem;

  /* background-image: url(../public/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

  background-color: #386bc0;

  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;

  box-shadow: none;

  width: 10%;
  min-width: 30px;
  align-self: center;
}

.btn-generate:active {
  background-color: #3b71ca;
}

.btn-generate:hover {
  box-shadow: #386bc0;
}

.background-radial-gradient {
  height: 90vh;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);

display: flex;
align-items: center;
}

#radius-shape-1 {
  height: 100px;
  width: 100px;
  top: -10px;
  left: -100px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

/* For Terminal Text */
.hidden {
opacity:0;
}

.console-underscore {
display:inline-block;
position:relative;
top:-0.14em;
left:10px;
}

/* For Navigation bar */

.bg-set {
  z-index: 1;
  height: 10vh;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      transparent 100%);
}

.toggler-set {
box-shadow: none;
}

.toggler-set:hover {
box-shadow: none;
}