@import '../node_modules/h8k-design/dist/index.css';

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.child-main {
  height: 100%;
  width: 50%;
  float: left;
}

.Nav-text {
  font-family: 'Arima', cursive;
}

#navigation button {
  margin-right: 1rem;

  margin-top: 1.5rem;
  padding: 0.5rem;

  background-color: #386bc0;

  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;

  box-shadow: none;

  width: 10%;
  min-width: 30px;
  align-self: center;
}

#navigation button:active {
  background-color: #3b71ca;
}

#navigation button:hover {
  box-shadow: #386bc0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  background-color: white;

  height: 60vh;
  width: 750px;
  
  border: black 3px solid;
  border-radius: 10px;

  display: flex;
  justify-content: left;
  align-items: center;
}

.parent h1 {
  margin: 0;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  color: black;
}

.parent p {
  margin: 0;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  color: black;
}

/* For Background 1 */
.bg1 {
  background-color: white;

  height: 60vh;
  width: 750px;
  
  background-image: url(../public/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: black 3px solid;
  border-radius: 10px;

  display: flex;
  justify-content: left;
  align-items: center;
}

.bg1 h1 {
  margin: 0;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  color: black;
}

.bg1 p {
  margin: 0;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  color: black;
}

/* For Background 2 */
.bg2 {
  background-color: white;

  height: 60vh;
  width: 750px;
  
  background-image: url(../public/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: black 3px solid;
  border-radius: 10px;

  display: flex;
  justify-content: left;
  align-items: center;
}

.bg2 h1 {
  margin: 0;
  padding: 1rem;
  padding-left: 10rem;

  color: yellow;
}

.bg2 p {
  margin: 0;
  padding: 1rem;
  padding-left: 10rem;

  color: white;
}

/* For Background 3 */
.bg3 {
  background-color: white;

  height: 60vh;
  width: 750px;
  
  background-image: url(../public/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: black 3px solid;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg3 h1 {
  margin: 0;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;

  color: rgb(66, 158, 157);
}

.bg3 p {
  margin: 0;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;

  color: white;
}

/* For Background 4 */
.bg4 {
  background-color: white;

  height: 60vh;
  width: 750px;
  
  background-image: url(../public/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: black 3px solid;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg4 h1 {
  margin: 0;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;

  color: rgb(66, 158, 157);
}

.bg4 p {
  margin: 0;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;

  color: black;
}

/* For Background 5 */
.bg5 {
  background-color: white;

  height: 60vh;
  width: 750px;
  
  background-image: url(../public/bg5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: black 3px solid;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg5 h1 {
  margin: 0;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;

  color: rgb(128,128,128);
}

.bg5 p {
  margin: 0;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;

  color: black;
}

/* For Background 6 */
.bg6 {
  background-color: white;

  height: 60vh;
  width: 750px;
  
  background-image: url(../public/bg6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: black 3px solid;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg6 h1 {
  margin: 0;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 5rem;

  color: rgb(234,26,85);
}

.bg6 p {
  margin: 0;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 5rem;

  color: white;
}

.parent img {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.float-child {
  height: 100%;
  width: 50%;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-generate {
  margin-right: 1rem;

  margin-top: 1.5rem;
  padding: 0.5rem;

  background-color: #386bc0;

  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;

  box-shadow: none;

  width: 10%;
  min-width: 30px;
  align-self: center;
}

.btn-generate:active {
  background-color: #3b71ca;
}

.btn-generate:hover {
  box-shadow: #386bc0;
}

.background-radial-gradient {
  height: 90vh;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);

display: flex;
align-items: center;
}

.background-radial-gradient-2 {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 100px;
  width: 100px;
  top: -10px;
  left: -100px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-3 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: 45px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

/* For Terminal Text */
.hidden {
opacity:0;
}

.console-underscore {
display:inline-block;
position:relative;
top:-0.14em;
left:10px;
}

/* For Navigation bar */

.bg-set {
  z-index: 1;
  height: 10vh;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      transparent 100%);
}

.toggler-set {
box-shadow: none;
}

.toggler-set:hover {
box-shadow: none;
}

/* For Loading Screen */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}